body {
    background-color:black
}
main {
    background-color: white;
    font-family: Arial;
    max-width: 500px;
    margin: auto;
    border-radius: 25px;
    padding: 1px;
}
.maindiv {
    color: black;
    display: block;
    margin: auto;
    width: 60%
}
.title {
    color: grey;
    text-align: center;
    font-size: xx-large;
}
.copyright {
    color: black;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    margin: 9px;
}
.tm {
    color: white;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}
.highlight {
    background-color: yellow;
}
